* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clear {
  clear: both;
}

.main-container {
  width: 1280px;
  margin: auto;
}

.container {
  margin-right: 16px;
}

.food-header-blue {
  color: rgb(93, 93, 255);
}
